@font-face {
  font-family: cga;
  src: url(font.ttf);
}

@font-face {
  font-family: font2;
  src: url(font2.ttf);
}

@font-face {
  font-family: chicago;
  src: url(ChicagoFLF.ttf);
}

html {
    background-color: #000000;
    padding: 0px;
    scroll-behavior: smooth;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #000000;
    border-color: #000000;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #ffffff;
    font-family: 'font2', sans-serif;
    font-size: 18.5pt;
    line-height: 1.15;
    margin: 4pt;
}

a {
    text-align: center;
    color: #00ff00;
    font-family: 'font2', sans-serif;
    font-size: 25pt;
    line-height: 1.15;
    margin: 40pt;
}

p.value {
    margin-top: 22px;
    margin-bottom: 22px;
    text-indent: -16pt;
    margin-left: 20pt;
    font-size: 24pt;
    line-height: 2.11666656px;
    letter-spacing: 0.03em;
    font-family: 'font2';
}

p.axis_name {
    margin-top: 50px;
    color: #333333;
    font-size: 19pt;
    font-family: 'font2';
}
p.question {
    margin: 16pt auto;
    color: #00f7ff;
    font-family: 'font2', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #236300;
    padding: 16pt;
    border-radius: 0pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #ffffff;
    font-family: 'font2', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #ffffff;
    font-family: 'font2', sans-serif;
    font-size: 34pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 10pt;
    font-weight: normal;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: font2;
}
div.center {
    background-color: #236300;
    font-family: 'font2', sans-serif;
    border-radius: 0pt;
    padding: 6pt;
    color: white;
    width: 50%;
    min-width: 488pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: auto;
}
img.quadcolumn {
    width: 23.75%;
    transition: transform .3s;
}
img.quadcolumn:hover {
    transform: scale(1.05);
  }
div.quadcolumn {
    width: 23.75%;
}
div.axis_name {
    color: #333333;
    font-size: 19pt;
    font-family: 'font2';
    display: inline-block;
    padding-bottom: 8.65pt;
}
.spacer {
    display: flex;
}
.spacer > div{
    margin-top: 10px;
    display: inline-block;
    *display: inline; /* For IE7 */
    text-align: center;
}
.button {
    background-color: #2196f3;
    font-family: 'font2', sans-serif;
    border: none;
    border-radius: 0pt;
    color: white;
    padding: 12pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: 0px auto;
    cursor: pointer;
}
.button:hover, .button:focus { background: #1687e0; }
.stronglyAgree { background: #00d1bc; }
.stronglyAgree:hover, .stronglyAgree:focus { background: #00ad9c; }
.agree { background: #07ab7f; }
.agree:hover, .agree:focus { background: #058563; }
.neutral { background: #3d8566; }
.neutral:hover, .neutral:focus { background: #2d634c; }
.disagree { background: #5c6963; }
.disagree:hover, .disagree:focus { background: #454f4b; }
.stronglyDisagree { background: #2e2e2e; }
.stronglyDisagree:hover, .stronglyDisagree:focus { background: #1c1c1c; }

.small_button, .small_button_off {
    background-color: #333;
    font-family: 'font2', sans-serif;
    border: none;
    border-radius: 0pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}

.small_button:hover, .small_button:focus {
    background: #222;
}

.small_button_off {
    background-color: #333;
    color: #888;
    cursor: not-allowed;
    margin: -4px auto;
}
.arrow {
    width: 60%;
    height: auto;
}
div.explanation_blurb_left {
    vertical-align: top;
    width: 37%;
    margin-left: 1%;
    margin-right: 1%;
}
div.explanation_blurb_right {
    vertical-align: top;
    width: 37%;
    margin-left: 1%;
    margin-right: 1%;
}
div.explanation_axis {
    width: 20.9%;
    vertical-align: top;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'font2', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    display: inline-block;
}
div.similarity {
    background-color: #236300;
    text-align: right;
    color: #00f7ff;
}
div.difference {
    background-color: #000000;
    text-align: right;
    color: #000000;
}

span.weight-300 {
    font-weight: 300;
}
.explanation_bg {
    background-color: #eeeeee;
    border-radius: 0px;
    margin-top: 15px;
}

